Здравствуйте, {{  user.name }}!<br />
<br />
От вас поступил запрос на изменение пароля. Для изменения пароля пройдите по ссылке:<br />
<br />
<a href="{{ absolute_url(path('remember_password.change_password_form', {'checkerId' : checker.id, 'code' : checker.code })) }}">{{ absolute_url(path('remember_password.change_password_form', {'checkerId' : checker.id, 'code' : checker.code })) }}</a><br />
<br />
Если вы не запрашивали изменение пароля, просто проигнорируйте это письмо.
